<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h3 th:text="${name}"></h3>
    <div class="alert alert-info mt-2" th:each="el : ${date}">
        <p th:text="${el.date}"></p>
        <p th:text="${el.first}"></p>
        <p th:text="${el.second}"></p>
        <p th:text="${el.third}"></p><br>
    </div>
</div>

</body>
</html>